<!-- main -->

<div class="container text-center">

  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">


      <!--experiencia-->

      <div class="card d-flex w-100 mb-3 p-3  p-3  bg-dark " style="list-style: none;  border-color: transparent; box-shadow: 5px 5px 10px  rgba(29, 29, 28, 0.782);" id="experiencia">

       <div class="row " style="align-items: center;">
        <div class="col-md-10" >
        <h3 class="card-title p-3 mt-3 " style="text-align: left; color: #f7f19c ; margin-left: 2rem;">EXPERIENCIA</h3>
      </div>
      <div class="col-md-2" style="justify-content:center;">
        <button class= "button" type="button" class="btn btn-outline-warning" routerLink="/nuevaexpe" *ngIf="isLogged">
          <i class="bi bi-pencil-fill"></i></button>
    </div>
    </div>
        <div class="row">
          <div class="col-lg-9 " style="text-align:left;align-content: center; justify-content: center;">
            <table class= "table " style="color: aliceblue;">
              <tbody>
                  <tr *ngFor="let Experiencia of expe">
                      <td>
                          {{Experiencia.nombreE}}
                      </td>
                      <td>{{Experiencia.descripcionE}}</td>
                      <td *ngIf="isLogged">
                          <button class="btn btn-outline-warning" routerLink="/editexp/{{Experiencia.id}}">
                              <i class="bi bi-pencil-fill"></i></button>
                      </td>
                      <td *ngIf="isLogged">
                          <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                              <i class="bi bi-trash-fill"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>

   

          </div>
          <div class="col-lg-3" style="align-items: center;">
            <div class="row">
          
             
            <img src="../../../assets/constructor.png" alt="imagengrupal" class="img-fluid">
    
         <!-- <div style="width:500px;max-width:100%;" style="margin: 2rem;" >
              <div style="height:0;padding-bottom:56.2%;position:relative;"><iframe width="500" height="281"
                  style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0"
                  src="https://imgflip.com/embed/7gwnx0"></iframe></div>
              <p><a href="https://imgflip.com/gif/7gwnx0" class="gif">Proyectos Arquitectónicos</a></p>
            </div>-->
       
          </div>


         
        </div>
      </div><!--experiencia-->


    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
  </div>
</div>