
<div class="container  " >
    <div class="card mt-3 p-3  bg-dark" id="nombre" style=" list-style: none; box-shadow: 5px 5px 10px  rgba(29, 29, 28, 0.782)">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group" style="color: aliceblue;">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group" style="color: aliceblue;">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
    </div>
</div>
