  
<div class="container text-center">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
   
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">


<!--proyectos-->
  <div class="card w-100 mb-3 bg-dark" style= "border-color: transparent; box-shadow: 5px 5px 10px  #1d1d1cc7">
  
    <p class="text-center text-white p-2">MIS ÚLTIMOS PROYECTOS CON HTML, CSS Y JS</p>
    
    <div class="row" style="text-align:center">
      <div class="col-log-10">
    <h3 class="card-title p-1" style="text-align:left;  margin-left: 2rem;  color: #f7f19c ;">PROYECTOS</h3>
    </div>
    <div class="col-md-2 " style="text-align:center;">
   
      <!--<button type="button" routerLink="/newskill" class="btn btn-outline-warning"  ><i class="bi bi-pencil-fill"></i></button>-->
  
  </div>
</div>

  <div class="row d-flex p-3">
  
    <div class="col-sm-4 col-md-4 col-lg-4 d-flex mt-2" style="justify-content: center ;">
    

        <div class="card" style="width: 18rem; object-fit: cover; border-radius: 0%;background-color:transparent;border: transparent; border-color: transparent;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.782);" id="card_proyectos">
        <img src="./assets/mdhl.jpg" class="card-img-top" alt="mdhl">
        <!-- <div style="width:500px;max-width:100%;">
            <div style="height:0;padding-bottom:62.6%;position:relative;"><iframe width="500" height="313"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0"
                    src="https://imgflip.com/embed/7gx2gp"></iframe></div>
        </div>-->

          <div class="card-body" >
            <h5 class="card-title text-white" >MDHL</h5>
            <p class="card-text text-white" >Trabajo realizado en el curso de MINDHUB, con HTML y CSS.</p>
           
            <p><a href="https://github.com/lorema28/MDHL_Paute.git" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">Ver más.</a></p>
  
          </div>
        </div>

        
      </div>
  
      <div class="col-sm-4 col-md-4 col-lg-4 d-flex mt-2" style="justify-content: center;">
        <div class="card" style="width: 18rem;  object-fit: cover; border-radius: 0%;background-color: transparent;border: transparent; border-color: transparent;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.782);" id="card_proyectos">
       <img src="./assets/amazingevents.jpg" class="card-img-top" alt="mdhl">
         <!-- <div style="width:500px;max-width:100%;">
            <div style="height:0;padding-bottom:62.6%;position:relative;"><iframe width="500" height="313"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0"
                    src="https://imgflip.com/embed/7gx1o2"></iframe></div>
            <p><a href="https://imgflip.com/gif/7gx1o2"></a></p>
        </div>-->

        
          <div class="card-body text-white">
            <h5 class="card-title text-white" style="text-align: center; ">AMAZING EVENTS</h5>
            <p class="card-text" >Trabajo realizado en el curso de MINDHUB, con HTML, CSS y JS.</p>
            <p><a href="https://github.com/lorema28/AMAZING-EVENTS_Paute.git" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">Ver más.</a></p>
  
          </div>
        </div>
      </div>
   
  
    <div class="col-sm-4 col-md-4 col-lg-4 d-flex mt-2" style="justify-content: center;">
      <div class="card" style="width: 18rem; object-fit: cover; border-radius: 0%;background-color: transparent;border: transparent; border-color: transparent;box-shadow: 5px 5px 10px  rgba(6, 6, 6, 0.782);" id="card_proyectos">
        <img src="./assets/calculadora.jpg" class="card-img-top" alt="mdhl">
      
        <div class="card-body">
          <h5 class="card-title text-white" style= " text-align: center; ">Calculadora</h5>
          <p class="card-text text-white">Trabajo realizado con HTML, CSS y JS.</p>
          <p><a href="https://github.com/lorema28/calculadora.git" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">Ver más.</a></p>
         
        </div>
      </div>
    </div>
  
  </div>
  </div>
   
  <!--proyectos-->
  
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
    
      </div>
    </div>
  </div>
