<footer class="footer ">
    <div class="container">
          <div class= "row d-flex  p-3 text-center" style="justify-content: center;">
    
            <div class= "col   ">
            <p class="text-white mb-0 mt-2" style="font-weight: bold;"> LorenArq2009 |Copyright © ARGENTINA PROGRAMA 2023.</p>
         <a href="https://goo.gl/maps/JxJfvcGbnmzTcBqB8" class="text-white mb-3" target="_blank"><i class="fa-solid fa-location-dot"></i> Buenos Aires-Argentina</a>
            </div>
        
    </div>
    </div>
        </footer>
